.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.login{
background-size: cover;
background-repeat: no-repeat;
background-image: url(./images/iNotebook.jpg);
border: #1350c9 solid;
border-radius: 20px;
  

}
.mybutton3 {
  background-color: #1350c9;
  color: white;
}


.mybutton3:hover {
  background-color: #073a8c;
  color: white;
  transition: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 0.3s cubic-bezier(0.100, 0.80, 0.64, 1);
  -webkit-transition: all 0.3s cubic-bezier(0.500, 0.164, 0.144, 2.5);
  transition-property: all;
}
.Link:hover {
  background-color: #0b2653;
 color: #1350c9;
  transition: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 0.3s cubic-bezier(0.100, 0.80, 0.64, 1);
  -webkit-transition: all 0.3s cubic-bezier(0.600, 0.187, 0.170, 2.5);
 
  transition-property: all;
}
input {
  background-image: linear-gradient(to bottom right, #E2E8EC, #FFFFFF);
}

input:hover {
  background-image: linear-gradient(to bottom right, #ebc0b2, #c3b9e7);
}
textarea{
    background-image: linear-gradient(to bottom right, #E2E8EC, #FFFFFF);
  }
textarea:hover {
      background-image: linear-gradient(to bottom right, #ebc0b2, #c3b9e7);
    }